/* --------------------------------- navbar */
.navsushi{
    width: 50px;
    height: 50px;
}
.bloctitre{
    padding: 0;
}
/* --------------------------------header */
.entete{
    margin-bottom: 2%;
}
/* --------------------------- carrousel */
.filtre {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}
.carrouselmenu{
    color: rgb(255, 68, 0);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.carrouselimg{
    filter: opacity(90%);
    height: auto;
}
@media screen and (min-width: 769px) {
    .carrouselimg{
        min-height: 380px;
    }
}

/* --------------------------- horaires */
.horaires{
    margin-top: 1%;
    margin-bottom: 1%;
}
.horairesimg{
    width: 50%;
    height: auto;
    z-index: 1;
    position: absolute;
}
@media screen and (max-width: 769px) {
    .horairesimg{
        width: 100%;
    }
}
.horairestxt{
    z-index: 2;
    color: rgb(255, 68, 0);
    text-shadow: 1px 1px 2px black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 13%;
    font-size: larger;
    font-weight: bold;
}
@media screen and (max-width: 769px){
    .horairestxt{
        padding-top: 0;
    }
}
.droite{
    text-align: right;
}
.centre{
    text-align: center;
}
/* ---------------------------------------- contact */
#contact{
    margin-top: 1%;
}
.formulaire{
    margin: 2%;
}
.valider{
    color: rgb(255, 68, 0);
    border: 1px solid rgb(255, 68, 0);
}
.valider:hover{
    background-color: rgb(255, 68, 0);
    color: white;
}
.donnée{
    text-align: center;
    list-style-type: none;
}
.orange{
    color: rgb(255, 68, 0);
}
/* -------------------------------------------- carte */
.gmap{
    width: 100%;
    height: 100%;
}
#carte{
    min-height: 375px;
}
/* ------------------------------------------- contact + map */
.contactmap{
    margin-top: 5%;
}
/* ---------------------------------------------- footer */
footer{
    background-color: rgb(24, 28, 32);
    color: white;
    text-align: center;
    padding: 2%;
}
/* ----------------------------------------------bouton haut de page */
#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid rgb(255, 68, 0); /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: rgb(255, 68, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
#myBtn:hover {
    background-color: rgb(255, 68, 0); /* Add a background color on hover */
}
#myBtn a{
    color: rgb(255, 68, 0);
}
#myBtn a:hover{
    color: white;
}
/* ---------------------------------------------------bloc presentations */
.blocpres{
    margin-top: 5%;
}
/* ----------------------------------------------presentation restaurant */
.restoimg{
    width: 100%;
    height: auto;
}
.imgresto{
    padding: 0;
}
.prestxt{
    background-color: rgb(255, 68, 0);
    color: white;
}
.prestxtside{
    background-color: rgb(255, 68, 0);
    color: white;
    text-align: center;
}
@media screen and (max-width: 769px) {
    .prestxtside{
        margin-bottom: 1%;
    }
}
/* ----------------------------------------------presentation personnel */
.persobloc{
    margin-bottom: 1%;
}
.persoimg{
    padding: 0;
}
.imgperso{
    width: 100%;
    height: auto;
    filter: grayscale(70%);
}
.persotxt{
    border: 1px solid rgb(255, 68, 0);
    color: rgb(255, 68, 0);
}