/* --------------------------------- navbar */
.navsushi{
    width: 50px;
    height: 50px;
}
/* --------------------------- carrousel */
.carrouselmenu{
    color: rgb(255, 68, 0);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.carrouselimg{
    max-height: 600px;
    filter: opacity(90%);
}
/* --------------------------- horaires */
.horaires{
    margin-bottom: 1%;
}
.horairesimg{
    width: 100%;
    height: auto;
    max-height: 300px;
    z-index: 1;
    position: absolute;
}
.horairestxt{
    z-index: 2;
    color: rgb(255, 68, 0);
    text-shadow: 1px 1px 2px black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    font-size: larger;
    font-weight: bold;
}
@media screen and (max-width: 769px){
    .horairestxt{
        padding-top: 0;
    }
}
.droite{
    text-align: right;
}
.centre{
    text-align: center;
}
/* ---------------------------------------- contact */
#contact{
    margin-top: 1%;
}
.formulaire{
    margin: 2%;
}
.valider{
    color: rgb(255, 68, 0);
    border: 1px solid rgb(255, 68, 0);
}
.valider:hover{
    background-color: rgb(255, 68, 0);
    color: white;
}
/* -------------------------------------------- carte */
.gmap{
    width: 100%;
    height: auto;
}
/* ------------------------------------------- contact + map */
.contactmap{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 769px) {
    .contactmap{
        display: flex;
        flex-direction: row-reverse;
    }
}